@import "pod-styles";

html, body, body > .ember-view, .viz-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

body > .ember-view {
  display: flex;
  justify-content: center;
  align-items: center;
}
