@import "ember-power-select";
@import "pod-styles";

html, body, body > .ember-view, .viz-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

body > .ember-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: $belize-hole;
  color: white;
  font-weight: bold;
  border-style: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    background: $peter-river;
  }
}

.small-button {
  @extend .button;

  padding: 6px 6px 5px 6px;
  font-size: 12px;
}

// Since ember-power-select uses ember-wormhole to render a dropdown list,
// styles applied to such a list cannot be encapsulated within a component
.selectable-transform {
  padding: 15px;
  user-select: none;
  cursor: pointer;
}

