<div class="controls">
  <div class="toggle-transform">
    {{#each TRANSFORMS as |transform|}}
      <label class="transform-option">
        {{one-way-radio currentTransformKey option=transform.key update=(action (mut currentTransformKey))}}
        {{latex-expression (mtx-to-tex transform.mtx)}}
      </label>
    {{/each}}
  </div>
</div>
{{grid-plot data=grid transform=currentTransformFn}}
