$peter-river: #3498db;
$concrete: #95a5a6;

& {
  line-height: 140%;
  text-align: justify;
}

.ui-dialog-reference {
  font-weight: bold;
  color: $concrete;
}

.ui-button-reference {
  font-weight: bold;
  background: $peter-river;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 3px;
  color: white;
}
